html, body {
background-attachment:fixed;
background-repeat:no-repeat;
background-size:100% 100%;
font-size:10pt;
padding:20px;
margin:0}

header {
background-image:url(smoke.gif);
background-repeat:no-repeat;
background-size:100% 100%;
width:900px;
margin:auto;
padding:20px 0;
text-align:center;
font-size:1.5em;
border-bottom:3px solid red;
font-family:'Seaweed Script', cursive;
font-weight:bold;}

#container {
background-color:#000000;
width:900px;
border:5px solid purple;
margin:20px auto;}

#wrap {
background-color:#000000;
width:900px;
margin:auto;}

nav {
width:180px;
float:right;
padding:15px 30px;
text-align:center;}

#display {
float:left;
width:650px;
border-right:5px solid purple;}

footer {
clear:both;
text-align:center;
background: -moz-radial-gradient(black, black, black, black, gray);
color:#990000;
border-top:2px solid red;
font-family:'Seaweed Script', cursive;
font-weight:bold;}

nav a:link {
margin:15px 0;
display:block;
font-size:1.5em;}

#display h1 {
color:green;
font-size: 2em;
padding:0 20px;
font-family:'Seaweed Script', cursive;
font-weight:bold;}

#display hr {
color:purple;
margin: 20px;}

#display h2 {
margin-left:15px;
text-align:left;
padding:10px;
font-family:'Seaweed Script', cursive;
font-weight:bold;
color:green;
}

#display p {
margin: 0 0 0 30px;
font-family:'The Girl Next Door', cursive;
color:#FFFFFF;
font-weight:bold;
text-align:left;}

#display img {
margin: 20px;
float: right;
border:solid red;
border-radius:5px;
border-width:5px;}

nav h2 {
color:green;
border:solid purple;
border-radius:5px;
font-family:'Seaweed Script', cursive;
font-weight:bold;}

nav a {
text-decoration:none;
color:#FFFFFF;}

header h1 {
text-align: center;
color:green;
text-shadow:0 0 15px blue;}

video {
width:260px;
height:180px;
float:right;
padding:10px;}

#slip{
-moz-transform:skew(30deg,20deg);
position:absolute;left:100px;top:30px;}

#slips{
-moz-transform:skew(335deg,340deg);
position:absolute;right:100px;top:30px;}

article {
position:relative;-webkit-animation:myfirst 6s;animation:myfirst 3s;}

@-moz-keyframes myfirst{
0% {
left:0;
top:0;}
 25% {
left:200px;
top:0;}
 75%{
left:-200px;
top:0;}
 100%{
left:0;
top:0}
}

#skull {
width:75px;
height:50px;}

#time {
color:#FFFFFF}

body {
text-align: center;
font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
background:-moz-linear-gradient(90%, black, white, black)
}

#soap {
padding: 50px;
font-size: 5em;
font-weight: bold;
}

.txt {
color: hsla(0,0%,0%,0);
text-shadow: purple 0 0 60px;
transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
}
@-moz-document url-prefix() { .txt { text-shadow: red 0 0 20px; } }

#soap:hover .txt {
text-shadow: purple 0 0 5px;
transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
}

.buzz {
margin: 0 10px;
color: hsla(0,0%,0%,0);
text-shadow: purple 0 0 5px;
transition: text-shadow 1s cubic-bezier(0, 1, 0, 1);
}

#soap:hover .buzz {
text-shadow: red 0 0 100px;
transition: text-shadow 2s cubic-bezier(0, 0.75, 0, 1);
}
@-moz-document url-prefix() { #soap:hover .buzz { text-shadow: red 0 0 20px; } }